/* Webfont: GrotesqueMT-Italic */@font-face {
    font-family: 'GrotesqueMT';
    src: url('GrotesqueMT-Italic.eot'); /* IE9 Compat Modes */
    src: url('GrotesqueMT-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GrotesqueMT-Italic.woff') format('woff'), /* Modern Browsers */
         url('GrotesqueMT-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GrotesqueMT-Italic.svg#GrotesqueMT-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.GrotesqueMT-Italic {
    font-family: 'GrotesqueMT';
    src: url('GrotesqueMT-Italic.eot'); /* IE9 Compat Modes */
    src: url('GrotesqueMT-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GrotesqueMT-Italic.woff') format('woff'), /* Modern Browsers */
         url('GrotesqueMT-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GrotesqueMT-Italic.svg#GrotesqueMT-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
